/* button basics */
a.minibutton {
  display:inline-block;
  height:23px;
  padding:0 0 0 3px;
  font-size:11px;
  font-weight:bold;
  color:#333;
  text-shadow:1px 1px 0 #fff; 
  white-space:nowrap;
  border:none;
  overflow:visible;
  cursor:pointer;
  text-decoration:none;
  border: 1px solid grey;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: #eeeeee;
}
a.minibutton.endturn {
  height: 44px;
  font-size: 16px;
  vertical-align:middle;
  float: right;
  margin: 3px;
  padding-top: 12px;
  border-radius: 10px;
}
a.minibutton.endturn.no-moves {
  border-color: #a00;
  border-width: 3px;
}

a.minibutton:hover {
  background-color:lightblue;
}

a.minibutton>span {
  display:block;
  height:100%;
  padding:0 10px 0 8px;
  line-height:100%;
}

