* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.right-region {
  position: absolute;
  width: 300px;
  right: 0;
  top: 0;
  bottom: 0;
}
.bottom-region {
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
.game-center-region {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;

}
.center-region {
  position: absolute;
  left: 0;
  right: 300px;
  top: 0;
  bottom: 0;

}
.map-container {
  border: 10px blue solid;
  width: 100%;
  height: 100%;
  background: black;
  position: relative;
  overflow: auto;
}

.hex-outer {
  position:absolute;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}
.hex-middle {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.hex-inner {
  width: 100%;
  height: 100%;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
  background-repeat: none;
  background-position: 50% 50%;
}
.tile-hills {
  background-image: url("http://perludus.com/examples/hexmap/hills-variation3.png");
}
.tile-empty {
  background-color: black;
}
.tile-water {
  background-color: blue;
}
circle {
  stroke:blue;
  cursor: pointer;
}
.selected {
  background: gray;
}
.side {
  display: inline-block;
  width: 72px;
  height: 72px;
  margin: 5px;
  padding: 15px;
}
.side-inner {
  width: 100%;
  height: 100%;
}
.notification {
  padding: 5px;
}
